# Preprocessing of data

Team : PNT2022TMID40633

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
data = pd.read_csv("/content/train_data.csv")

In [4]:
data.head()

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit,Stay
0,1,8,c,3,Z,3,radiotherapy,R,F,2.0,31397.0,7.0,Emergency,Extreme,2.0,51-60,4911.0,0-10
1,2,2,c,5,Z,2,radiotherapy,S,F,2.0,31397.0,7.0,Trauma,Extreme,2.0,51-60,5954.0,41-50
2,3,10,e,1,X,2,anesthesia,S,E,2.0,31397.0,7.0,Trauma,Extreme,2.0,51-60,4745.0,31-40
3,4,26,b,2,Y,2,radiotherapy,R,D,2.0,31397.0,7.0,Trauma,Extreme,2.0,51-60,7272.0,41-50
4,5,26,b,2,Y,2,radiotherapy,S,D,2.0,31397.0,7.0,Trauma,Extreme,2.0,51-60,5558.0,41-50

In [5]:
data.tail()

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit,Stay
25077,25078,21,c,3,Z,2,gynecology,S,A,3.0,12058.0,5.0,Emergency,Minor,2.0,11-20,5188.0,11-20
25078,25079,3,c,3,Z,5,gynecology,Q,A,3.0,12058.0,5.0,Emergency,Minor,4.0,11-20,4254.0,0-10
25079,25080,12,a,9,Y,4,gynecology,R,B,4.0,12058.0,5.0,Emergency,Minor,3.0,11-20,5577.0,11-20
25080,25081,15,c,5,Z,6,gynecology,P,F,4.0,12058.0,5.0,Urgent,Minor,4.0,11-20,4870.0,21-30
25081,25082,2,c,5,Z,5,gynecology,Q,F,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25082 entries, 0 to 25081
Data columns (total 18 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   case_id                            25082 non-null  int64
 1   Hospital_code                      25082 non-null  int64
 2   Hospital_type_code                 25082 non-null  object
 3   City_Code_Hospital                 25082 non-null  int64
 4   Hospital_region_code               25082 non-null  object
 5   Available Extra Rooms in Hospital  25082 non-null  int64
 6   Department                         25082 non-null  object
 7   Ward_Type                          25082 non-null  object
 8   Ward_Facility_Code                 25082 non-null  object
 9   Bed Grade                          25078 non-null  float64
 10  patientid                          25081 non-null  float64
 11  City_Code_Patient                  24831 non-null  float64
 12  Type of Admission                  25081 non-null  object
 13  Severity of Illness                25081 non-null  object
 14  Visitors with Patient              25081 non-null  float64
 15  Age                                25081 non-null  object
 16  Admission_Deposit                  25081 non-null  float64
 17  Stay                               25081 non-null  object
dtypes: float64(5), int64(4), object(9)
memory usage: 3.4+ MB

In [7]:
data.nunique()

case_id                              25082
Hospital_code                           32
Hospital_type_code                       7
City_Code_Hospital                      11
Hospital_region_code                     3
Available Extra Rooms in Hospital       12
Department                               5
Ward_Type                                5
Ward_Facility_Code                       6
Bed Grade                                4
patientid                             4922
City_Code_Patient                       32
Type of Admission                        3
Severity of Illness                      3
Visitors with Patient                   21
Age                                     10
Admission_Deposit                     4825
Stay                                    11
dtype: int64

In [8]:
data.isnull().sum()

case_id                                0
Hospital_code                          0
Hospital_type_code                     0
City_Code_Hospital                     0
Hospital_region_code                   0
Available Extra Rooms in Hospital      0
Department                             0
Ward_Type                              0
Ward_Facility_Code                     0
Bed Grade                              4
patientid                              1
City_Code_Patient                    251
Type of Admission                      1
Severity of Illness                    1
Visitors with Patient                  1
Age                                    1
Admission_Deposit                      1
Stay                                   1
dtype: int64

In [9]:
(data.isnull()).sum()/(len(data))* 100

case_id                              0.000000
Hospital_code                        0.000000
Hospital_type_code                   0.000000
City_Code_Hospital                   0.000000
Hospital_region_code                 0.000000
Available Extra Rooms in Hospital    0.000000
Department                           0.000000
Ward_Type                            0.000000
Ward_Facility_Code                   0.000000
Bed Grade                            0.015948
patientid                            0.003987
City_Code_Patient                    1.000718
Type of Admission                    0.003987
Severity of Illness                  0.003987
Visitors with Patient                0.003987
Age                                  0.003987
Admission_Deposit                    0.003987
Stay                                 0.003987
dtype: float64

In [10]:
data.drop(columns=['City_Code_Patient'], inplace = True)

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25082 entries, 0 to 25081
Data columns (total 17 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   case_id                            25082 non-null  int64
 1   Hospital_code                      25082 non-null  int64
 2   Hospital_type_code                 25082 non-null  object
 3   City_Code_Hospital                 25082 non-null  int64
 4   Hospital_region_code               25082 non-null  object
 5   Available Extra Rooms in Hospital  25082 non-null  int64
 6   Department                         25082 non-null  object
 7   Ward_Type                          25082 non-null  object
 8   Ward_Facility_Code                 25082 non-null  object
 9   Bed Grade                          25078 non-null  float64
 10  patientid                          25081 non-null  float64
 11  Type of Admission                  25081 non-null  object
 12  Severity of Illness                25081 non-null  object
 13  Visitors with Patient              25081 non-null  float64
 14  Age                                25081 non-null  object
 15  Admission_Deposit                  25081 non-null  float64
 16  Stay                               25081 non-null  object
dtypes: float64(4), int64(4), object(9)
memory usage: 3.3+ MB

In [12]:
data.describe()

,case_id,Hospital_code,City_Code_Hospital,Available Extra Rooms in Hospital,Bed Grade,patientid,Visitors with Patient,Admission_Deposit
count,25082.000000,25082.000000,25082.000000,25082.000000,25078.000000,25081.000000,25081.000000,25081.000000
mean,12541.500000,18.810980,4.769715,3.104258,2.663649,65344.442765,3.248395,4981.075515
std,7240.694062,8.632074,3.162466,1.141522,0.857561,37908.702777,1.762000,1053.491789
min,1.000000,1.000000,1.000000,0.000000,1.000000,70.000000,0.000000,1820.000000
25%,6271.250000,11.000000,2.000000,2.000000,2.000000,32622.000000,2.000000,4307.000000
50%,12541.500000,21.000000,5.000000,3.000000,3.000000,64413.000000,3.000000,4855.000000
75%,18811.750000,26.000000,7.000000,4.000000,3.000000,98066.000000,4.000000,5496.000000
max,25082.000000,32.000000,13.000000,12.000000,4.000000,131595.000000,24.000000,10999.000000